body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

.content {
    margin: 100px auto 200px;
}

.product {
    background: #F8F8F8;
    height: 581px;
    width: 360px;
}

.product-box {
    margin: auto;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin: 0;
}

.subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin: 6px auto 48px;
}

.product__Name {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;

color: #000000;
}

.product__description {
    font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;

color: #5D5D5D;
}

.product__price {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #F16D7F;
}